{% load static %}
<!-- humanize -->
{% load humanize %}
<div class="container-fluid">
    <h2 class="pt-3 pb-3 fw-bold">
        <a href="{% url 'product' %}">PRODUCT</a>
    </h2>
    <div class="row start">
        {% for product in products %}
        <div class="pb-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="card h-100">
                <!-- LSH START -->
                <a href="{% url 'product_detail' id=product.id %}">
                    <div class="g_square">
                        {% if product.images %}
                        <img class="card-img-top" src="{{product.images.url}}" alt="{{product.name}}" />
                        {% else %}
                        <img class="card-img-top" src="{% static 'img/no_img.png' %}" alt="{{product.name}}" />
                        {% endif %}
                    </div>
                </a>
                <div class="card-body">
                    <div class="ly-brand">
                        <div class="fw-bold">{{product.brand}}</div>
                    </div>
                    <a class="card-title"
                        href="{% url 'product_detail' id=product.id %}">{{product.name|truncatechars:10}}
                    </a>
                    <div class="ly-price">
                        <span class="fw-bold fs-3">{{product.price|intcomma}}원</span>
                    </div>
                </div>
                <!-- LSH END -->
            </div>
        </div>
        {% empty %}
        <li class="col h-100">
            <p>아직 상품이 등록되지 않았습니다</p>
            {% if user.is_admin %}
            <p>
                <a href="/admin/home/shoe/" class="btn btn-primary">등록하러가기</a>
            </p>
            {% endif %}
        </li>
        {% endfor %}
    </div>
</div>