<div class="container-fluid">
    <h2 class="fw-bold">REVIEWS</h2>
    <ul class="d-flex cards flex-wrap">
        <li class="">
            <div class="ly-img">
                <a href="/ASP/Product/ProductDetail.asp?ProductCode=48964">
                    <img src="https://cdn.shoemarker.co.kr/Upload/ProductImage/020102/48964_1_0320_0320.jpg"
                        alt="네오 런닝화 | 화이트">
                </a>
            </div>
            <div class="ly-content p-2">
                <div class="rating">
                    ★ 4.9
                </div>
                <div class="ly-name fw-bold fs-5">네오런닝화</div>
                <p>옆모습은 예쁜도 위에서 본 모습은 생각보다 그저그렇더라고요.
                    발사이즈가 빈틈없는 240이고 발볼이 넓은 편이라 245로 구매했더니 약간 여유있는...</p>
            </div>
        </li>
        <li class="">
            <div class="ly-img">
                <a href="/ASP/Product/ProductDetail.asp?ProductCode=48964">
                    <img src="https://cdn.shoemarker.co.kr/Upload/ProductImage/020102/48964_1_0320_0320.jpg"
                        alt="네오 런닝화 | 화이트">
                </a>
            </div>
            <div class="ly-content p-2">
                <div class="rating">
                    ★ 4.9
                </div>
                <div class="ly-name fw-bold fs-5">네오런닝화</div>
                <p>옆모습은 예쁜도 위에서 본 모습은 생각보다 그저그렇더라고요.
                    발사이즈가 빈틈없는 240이고 발볼이 넓은 편이라 245로 구매했더니 약간 여유있는...</p>
            </div>
        </li>
        <li class="">
            <div class="ly-img">
                <a href="/ASP/Product/ProductDetail.asp?ProductCode=48964">
                    <img src="https://cdn.shoemarker.co.kr/Upload/ProductImage/020102/48964_1_0320_0320.jpg"
                        alt="네오 런닝화 | 화이트">
                </a>
            </div>
            <div class="ly-content p-2">
                <div class="rating">
                    ★ 4.9
                </div>
                <div class="ly-name fw-bold fs-5">네오런닝화</div>
                <p>옆모습은 예쁜도 위에서 본 모습은 생각보다 그저그렇더라고요.
                    발사이즈가 빈틈없는 240이고 발볼이 넓은 편이라 245로 구매했더니 약간 여유있는...</p>
            </div>
        </li>
        <li class="">
            <div class="ly-img">
                <a href="/ASP/Product/ProductDetail.asp?ProductCode=48964">
                    <img src="https://cdn.shoemarker.co.kr/Upload/ProductImage/020102/48964_1_0320_0320.jpg"
                        alt="네오 런닝화 | 화이트">
                </a>
            </div>
            <div class="ly-content p-2">
                <div class="rating">
                    ★ 4.9
                </div>
                <div class="ly-name fw-bold fs-5">네오런닝화</div>
                <p>옆모습은 예쁜도 위에서 본 모습은 생각보다 그저그렇더라고요.
                    발사이즈가 빈틈없는 240이고 발볼이 넓은 편이라 245로 구매했더니 약간 여유있는...</p>
            </div>
        </li>
        <li class="">
            <div class="ly-img">
                <a href="/ASP/Product/ProductDetail.asp?ProductCode=48964">
                    <img src="https://cdn.shoemarker.co.kr/Upload/ProductImage/020102/48964_1_0320_0320.jpg"
                        alt="네오 런닝화 | 화이트">
                </a>
            </div>
            <div class="ly-content p-2">
                <div class="rating">
                    ★ 4.9
                </div>
                <div class="ly-name fw-bold fs-5">네오런닝화</div>
                <p>옆모습은 예쁜도 위에서 본 모습은 생각보다 그저그렇더라고요.
                    발사이즈가 빈틈없는 240이고 발볼이 넓은 편이라 245로 구매했더니 약간 여유있는...</p>
            </div>
        </li>
        <li class="">
            <div class="ly-img">
                <a href="/ASP/Product/ProductDetail.asp?ProductCode=48964">
                    <img src="https://cdn.shoemarker.co.kr/Upload/ProductImage/020102/48964_1_0320_0320.jpg"
                        alt="네오 런닝화 | 화이트">
                </a>
            </div>
            <div class="ly-content p-2">
                <div class="rating">
                    ★ 4.9
                </div>
                <div class="ly-name fw-bold fs-5">네오런닝화</div>
                <p>옆모습은 예쁜도 위에서 본 모습은 생각보다 그저그렇더라고요.
                    발사이즈가 빈틈없는 240이고 발볼이 넓은 편이라 245로 구매했더니 약간 여유있는...</p>
            </div>
        </li>
    </ul>
</div>