<div class="container-fluid">
    <h2 class="fw-bold">PRODUCT</h2>
    <ul class="d-flex cards flex-wrap">
        {% for product in products %}
        <li class="product_info">
            <div class="product-list">
                <!-- LSH START -->
                <div class="ly-img">
                    <a href="{% url 'product_detail' id=product.id %}">
                        <img
                            src="{{product.image_url}}"
                            alt="{{product.name}}"
                        />
                    </a>
                </div>
                <div class="ly-content p-1">
                    <div class="ly-brand">
                        <div class="fw-bold">{{product.brand}}</div>
                    </div>
                    <div class="ly-name">
                        <div class="">
                            <a href="{% url 'product_detail' id=product.id %}"
                                >{{product.name}}
                            </a>
                        </div>
                    </div>
                    <div class="ly-price">
                        <span class="fw-bold fs-6">{{product.price}}</span>
                    </div>
                </div>
                <!-- LSH END -->
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
