<h1>배송지(유저정보자동으로불러오기)</h1>
<div>
    <!-- 아이디 말고 실제 이름 -->
    <label for="">이름</label>
    <input
        type="text"
        name="name"
        placeholder="이름"
        value="{{user.username}}"
        required
        autofocus
    />
</div>
<div>
    <label for="">주소</label>
    <input
        type="text"
        id="postcode"
        placeholder="우편번호"
        name="addr_num"
        required
    />
    <input
        type="button"
        onclick="DaumPostcode()"
        value="우편번호 찾기"
        required
    /><br />
    <input
        type="text"
        id="address"
        placeholder="주소"
        name="address"
        required
    /><br />
    <input
        type="text"
        id="detailAddress"
        placeholder="상세주소"
        name="detail_address"
        required
    />
</div>
<div>
    <label for="phone">전화번호</label>
    <input
        type="text"
        name="phone"
        id="phone"
        placeholder="010-1234-5678"
        required
    />
</div>
<div>
    <label for="">요청사항</label>
    <input
        type="text"
        name="order_message"
        placeholder="ex)문 앞에 놔두세요."
    />
</div>
<h1>결제수단</h1>
<div>
    <label for="naver">
        <input
            id="naver"
            type="checkbox"
            name="pay_method"
            value="1"
            onclick="checkOnlyOne(this)"
        />
        네이버페이
    </label>
    <br />
    <label for="cash">
        <input
            id="cash"
            type="checkbox"
            name="pay_method"
            value="2"
            onclick="checkOnlyOne(this)"
        />
        무통장입금
    </label>
</div>
