<!-- 작성 : 이경민 , mall 메인 -->
{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/splide/splide.min.css'%}">
<link rel="stylesheet" href="{% static 'css/mall/style.css' %}">
<!-- 콘텐츠 영억 -->

<!-- 슬라이드 -->
{% include 'mall/components/main_slide.html' %}
<div class="container">
    <!-- 몰 -->
    {% include 'mall/components/main_list.html' %}
    <!-- 리뷰 -->
    {% include 'mall/components/main_review.html' %}
</div>

<!-- splide 슬라이더 기능  -->
<script src="{% static 'js/splide/splide.min.js'%}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const elms = document.getElementsByClassName('splide');

        for (let i = 0; i < elms.length; i++) {
            new Splide(elms[i]).mount();
        }
    });
</script>
{% endblock %}