<!-- 구매 완료 페이지 -->
{% extends 'base/base.html' %} {% load static %} {% block content %}
<!-- 콘텐츠 영억 -->
<div>
    <div class="container">
        <h2>감사합니다 구매가 완료되었습니다</h2>
        <h4 class="fw-bold">배송 정보</h4>
        <div>이름 : {{data.name}}</div>
        <div>
            주소 : ({{data.addr_num}} ){{data.address}} {{data.detail_address}}
        </div>
        <div>전화번호 : {{data.phone}}</div>
        <div>요청사항 : {{data.order_message}}</div>
        <hr />
        <h4 class="fw-bold">결제정보</h4>
        <div>결제 : {{data.status}}</div>
        <div>
            결제수단 : {% if pay_method == 1 %}
            <span>카드</span>
            {% else %}
            <span>무통장입금</span>
            {% endif %}
        </div>
        <div>총 가격 : {{data.total_price}}</div>
    </div>
</div>
{% endblock %}
