<!-- 상품페이지 -->
{% extends 'base/base.html' %}
<!-- head title -->
{% block head_name %}이런신발 - 쇼핑몰 {% endblock %}
<!--  -->

{% load static %}
<!-- humanize -->
{% load humanize %} {% block content %}
<link rel="stylesheet" href="{% static 'css/mall/style.css' %}" />
<!-- 콘텐츠 영억 -->
<div class="container">
    <div class="">
        {% if keyword %}
        <h4 class="fw-bold pb-3 pt-3">'{{keyword}}' 관련 상품</h4>
        {% else %}
        <h4 class="fw-bold pb-3 pt-3">전체상품</h4>
        {% endif %}
        {% if datas %}
        <div class="d-flex flex-wrap gap-2 justify-content-start">
            {% for data in datas %}
            <div class="card l_card">
                <div class="product-list">
                    <!-- LSH START -->
                    <div class="ly-img">
                        <a class="g_square" href="{% url 'product_detail' id=data.id %}">
                            {% if data.images %}
                            <img src="{{data.images|default:data.images.url}}" class="card-img-top display-img" />
                            {% else %}
                            <img class="display-img card-img-top" src="{% static 'img/no_img.png'%}" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="ly-brand">
                            <div class="fw-bold">{{data.brand}}</div>
                        </div>
                        <div class="card-title">
                            <div class="">
                                <a href="#!">{{data.name}}</a>
                            </div>
                        </div>
                        <div class="ly-price">
                            <span class="fw-bold fs-6">{{data.price|intcomma}} 원</span>
                        </div>
                    </div>
                    <!-- LSH END -->
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div style="justify-content: center; text-align: center; align-items: center">
            <div class="">데이터가 없습니다</div>
        </div>
        {% endif %}
    </div>
    <!-- 페이지네이션 돔 -->
    {% include 'base/pagination.html' %}
</div>

{% endblock %}