<!-- 상품페이지 -->
{% extends 'base/base.html' %} {% load static %}
<!-- humanize -->
{% load humanize %} {% block content %}
<link rel="stylesheet" href="{% static 'css/mall/style.css' %}" />
<!-- 콘텐츠 영억 -->
<div class="container">
    <h2 class="fw-bold">검색결과</h2>
    <ul class="d-flex cards flex-wrap">
        {% for data in datas %}
        <li class="card" style="width: 18rem">
            <div class="product-list">
                <!-- LSH START -->
                <div class="ly-img">
                    <a href="{% url 'product_detail' id=data.id %}">
                        {% if data.images %}
                        <img
                            src="{{data.images.url}}"
                            class="card-img-top display-img"
                        />
                        {% else %}
                        <img
                            class="display-img card-img-top"
                            src="{% static 'img/NO_IMG_600x600.png'%}"
                        />
                        {% endif %}
                    </a>
                </div>
                <div class="card-body">
                    <div class="ly-brand">
                        <div class="fw-bold">{{data.brand}}</div>
                    </div>
                    <div class="card-title">
                        <div class="">
                            <a href="#!">{{data.name}}</a>
                        </div>
                    </div>
                    <div class="ly-price">
                        <span class="fw-bold fs-6"
                            >{{data.price|intcomma}} 원</span
                        >
                    </div>
                </div>
                <!-- LSH END -->
            </div>
        </li>
        {% endfor %}
    </ul>
    <!-- 페이지 네이션 -->
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                    >Previous</a
                >
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item" aria-current="page">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}
