<!-- 상품 상세 페이지 -->
{% extends 'base/base.html' %} {% load static %}
<!-- 콤마사용 -->
{% load humanize %} {% block content %}
<link rel="stylesheet" href="{% static 'css/splide/splide.min.css'%}" />
<link rel="stylesheet" href="{% static 'css/mall/style.css' %}" />
<!-- 콘텐츠 영억 -->
<div class="container l_product bg-light">
    <div class="d-flex">
        <div class="flex-fill l_pr">
            {% if data.images.count > 1 %}
            <div class="l_pr_sumbnail">
                <div class="wrapper">
                    <!-- 썸네일이 여러개일때 표기 -->
                    <div class="img-selection">
                        <div class="img-thumbnail selected">
                            <img
                                src="https://cdn.shoemarker.co.kr/Upload/ProductImage/030402/48772_1_0500_0500.gif"
                                alt=""
                                width="100%"
                            />
                        </div>
                        <div class="img-thumbnail">
                            <img
                                src="http://vignette2.wikia.nocookie.net/overwatch/images/8/85/CuteSprayAvatars-Mercy.png/revision/latest?cb=20160511194928"
                                width="100%"
                            />
                        </div>
                        <div class="img-thumbnail">
                            <img
                                src="http://vignette2.wikia.nocookie.net/overwatch/images/e/e0/CuteSprayAvatars-Pharah.png/revision/latest?cb=20160511194928"
                                width="100%"
                            />
                        </div>
                    </div>
                    <!-- 썸네일이 여러개일때 표기 end -->
                    <div class="big-img">
                        <img src="#!" class="display-img" />
                    </div>
                </div>
            </div>
            {% else %}
            <div class="l_pr_sumbnail" style="padding-left: 0px">
                <div class="wrapper">
                    <div class="big-img">
                        {% if data.images %}
                        <img src="{{data.images.url}}" class="display-img" />
                        {% else %}
                        <img
                            src="{% static 'img/NO_IMG_600x600.png'%}"
                            class="display-img"
                        />
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div id="tab_container">
                <div class="d-flex tabs-container">
                    <button class="btn active flex-fill" data-id="detail">
                        상세보기
                    </button>
                    <button class="btn flex-fill" data-id="reviews">
                        후기 ({{reviews.count}}) 개
                    </button>
                </div>
                <div class="tabs-content">
                    <!-- item 1 -->
                    <div class="content active" id="detail">
                        <div class="product_detail">
                            <img
                                src="https://cdn.shoemarker.co.kr/Upload/Shoemarker/PBdetail/whever/WV25311/common.jpg"
                                alt=""
                            />
                        </div>
                    </div>
                    <!-- item 1 -->
                    <div class="content" id="reviews">
                        <!-- 지금은 main_review 지만 나중에 해당 id 에 맞는 리뷰를 가지고 오는것을 views.py 에 추가 -->
                        {% for review in reviews %}
                        <div class="l_review_img">
                            {% for i in review.mallreviewimage_set.all %}
                            <img src="{{i.images.url}}" alt="" />
                            {% empty %}
                            <img src="" alt="" />
                            {% endfor %}
                        </div>
                        <div>{{ review.title }}</div>
                        <div>{{ review.content }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-fill bg-white p-5 l_pr">
            <form id="form" method="POST">
                {% csrf_token %}
                <div>
                    <input
                        type="text"
                        value="{{data.id}}"
                        name="shoe_id"
                        hidden
                    />
                    <div class="l_brand">
                        <div class="l_brand_img">
                            <img
                                src="https://image.msscdn.net/thumbnails/images/goods_img/20250304/4851552/4851552_17412521434733_500.jpg"
                                alt=""
                            />
                        </div>
                        <div class="l_brand_name">{{data.brand}}</div>
                    </div>
                    <hr />
                    <div class="l_category">{{data.category}}</div>
                    <div class="l_name fs-2 fw-bold pb-1">{{data.name}}</div>
                    <div class="l_star pb-1">별점 {{data.rating}}</div>
                    <div class="l_price fw-bold fs-3 pb-1">
                        {{data.price|intcomma}} 원
                    </div>
                    <div class="l_options">
                        <select
                            name="size"
                            id=""
                            class="form-select mb-3"
                            aria-label=""
                        >
                            <option value="220">220</option>
                            <option value="225">225</option>
                            <option value="230">230</option>
                            <option value="235">235</option>
                            <option value="240">240</option>
                            <option value="245">245</option>
                            <option value="250">250</option>
                            <option value="255">255</option>
                            <option value="260">260</option>
                            <option value="265">265</option>
                            <option value="270">270</option>
                            <option value="275">275</option>
                            <option value="280">280</option>
                        </select>
                        <div class="count mb-3">
                            <!-- 개수입력 quantity -->
                            <input
                                id="quantity"
                                type="text"
                                name="quantity"
                                value=""
                                hidden
                            />
                            <div
                                class="center d-flex justify-content-center align-items-center"
                            >
                                <button
                                    id="decr"
                                    class="btn btn-dark"
                                    type="button"
                                >
                                    -
                                </button>
                                <span id="print" class="flex-fill text-center">
                                    0
                                </span>
                                <button
                                    id="incr"
                                    class="btn btn-dark"
                                    type="button"
                                >
                                    +
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="l_options">
                        <div
                            class="d-flex justify-content-center align-items-center"
                        >
                            <!-- <div class="flex-fill">
                                <div class="heart">
                                    찜
                                    <label for="checkbox">
                                        <input
                                            type="checkbox"
                                            id="checkbox"
                                            hidden
                                        />
                                        <svg
                                            class="icon"
                                            viewBox="0 0 1024 1024"
                                        >
                                            <path
                                                d="M742.4 101.12A249.6 249.6 0 0 0 512 256a249.6 249.6 0 0 0-230.72-154.88C143.68 101.12 32 238.4 32 376.32c0 301.44 416 546.56 480 546.56s480-245.12 480-546.56c0-137.92-111.68-275.2-249.6-275.2z"
                                                fill="#231F20"
                                                class="heart2"
                                            ></path>
                                        </svg>
                                    </label>
                                </div>
                            </div> -->

                            <button
                                id="cart"
                                class="btn text-center flex-fill btn-light"
                                type="button"
                                disable
                            >
                                장바구니
                            </button>
                            <!-- 구매하기 누르면 구매하기 페이지로 넘길것임 
                                id[] 값에 ["1"] 이런식으로 배열값을 넘겨야함 
                                parchase/["1"]
                            
                            -->
                            <button
                                id="parchase"
                                class="btn btn-primary text-center flex-fill"
                                type="button"
                                disable
                            >
                                구매하기
                            </button>
                        </div>
                    </div>
                    <!-- <div class="l_tag">
                        <a href="">#태그</a>
                    </div> -->
                </div>
                <!-- 이미 장바구니에 추가되었으면 -->
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div
                        class="alert alert-{% if message.tag %}{{ message.tags }}{% endif %}"
                        role="alert"
                    >
                        {{ message }}
                    </div>
                    {% endfor %} {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
<!-- splide 슬라이더 기능  -->
<script src="{% static 'js/splide/splide.min.js'%}"></script>
<script src="{% static 'js/mall/script.js' %}"></script>
<script>
    // 장바구니 버튼을 눌렀을때
    let form = document.getElementById("form");
    const cart = document.getElementById("cart");
    const parchase = document.getElementById("parchase");

    form.mothod = "POST";
    // 장바구니를 클릭할경우
    cart.addEventListener("click", (e) => {
        e.preventDefault();
        form.action = "{% url 'cart_add' %}";
        form.submit();
    });
    // 구매하기 클릭한경우
    parchase.addEventListener("click", (e) => {
        e.preventDefault();
        form.action = "{% url 'parchase' %}";
        form.submit();
    });

    // 구매하기 버튼을 눌렀을때
</script>
{% endblock %}
