<!-- 내글보기 -->
{% extends 'base/base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}
<section class="myPage-content">
    {% include 'base/mypage_navi.html' %}
    <section class="myPage-main">
        <h1 class="myPage-title fw-bold">내 글보기</h1>
        <div>
            <h4 class="text-secondary">내가 쓴 글</h4>
            <!--  -->
            {% if posts %}
            <!--  -->
            <table class="table">
                <tr>
                    <td>사진</td>
                    <td>제목</td>
                    <td>내용</td>
                    <td>수정</td>
                    <td>삭제</td>
                </tr>
                {% for i in posts %}
                <tr>
                    <td>{{ i.images.url}}</td>
                    <td><a href="{% url 'community:post_detail' id=i.id %}">{{i.title}}</a></td>
                    <td>{{i.content|truncatechars:20}}</td>
                    <td><a href="{% url 'community:edit_post' id=i.id %}" class="btn btn-warning">수정</a></td>
                    <td><a href="{% url 'community:delete_post' id=i.id %}" class="btn btn-danger">삭제</a></td>
                </tr>
                {% endfor %}
            </table>
            <!--  -->

            <!--  -->
            {% else %}
            <!--  -->
            <div class="text-center">글이 없습니다.</div>
            {% endif %}
        </div>
        <div>
            <h4 class="text-secondary">내가 쓴 댓글</h4>
            <!--  -->
            {% if comments %}
            <!--  -->
            {% for i in comments %}
            <table class="table">
                <tr>
                    <td>게시글</td>
                    <td>내용</td>
                    <td>삭제</td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'community:post_detail' id=i.post_id %}">{{i.post_set.title}}</a>
                    </td>
                    <td><a href="{% url 'community:post_detail' id=i.post_id %}">{{i.content|truncatechars:10}}</a></td>
                    <td><a href="{% url 'community:delete_post' id=i.id %}" class="btn btn-danger">삭제</a></td>
                </tr>
            </table>
            <!--  -->
            {% endfor %}
            <!--  -->
            {% else %}
            <!--  -->
            <div class="text-center">댓글이 없습니다.</div>
            {% endif %}
        </div>
        <div>
            <h4 class="text-secondary">내가 쓴 리뷰</h4>
            <!--  -->
            {% if reviews %}
            <!--  -->
            <table class="table">
                <tr>
                    <td>사진</td>
                    <td>상품</td>
                    <td>글</td>
                    <td>수정</td>
                    <td>삭제</td>
                </tr>
                {% for i in reviews %}
                <tr>
                    <td>
                        {% if i.reviewimages_set.all %}
                        <!--  -->
                        {% for x in i.reviewimages_set.all %}
                        <img src="{{x.images.url}}" alt="" />
                        <!--  -->
                        {% endfor %} {% endif %}
                    </td>
                    <td>{{i.name}}</td>
                    <td><a href="{% url 'mall_review_detail' review_id=i.id%}"> {{i.content|truncatechars:10}}</a></td>
                    <td><a href="{% url 'mall_review' shoe_id=i.shoe_id %}" class="btn btn-warning">수정</a></td>
                    <td><a href="{% url 'mall_review_delete' id=i.id %}" class="btn btn-danger">삭제</a></td>
                </tr>
                {% endfor %}
                <!--  -->
                {% else %}
                <tr colspan="3">
                    <div class="text-center">리뷰가 없습니다.</div>
                </tr>
                {% endif %}
            </table>
        </div>
    </section>
</section>
{% endblock %}
