<!-- 내글보기 -->
{% extends 'base/base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}
<section class="myPage-content container-xl">
    {% include 'base/mypage_navi.html' %}
    <section class="myPage-main">
        <h1 class="myPage-title fw-bold">내 글보기</h1>
        <div class="pt-3 pb-3">
            <h5 class="text-secondary">내 커뮤니티 글</h5>
            <!--  -->
            {% if posts %}
            <!--  -->
            <table class="table">
                <tr>
                    <th scope="col" width="10%">사진</th>
                    <th scope="col" width="10%">제목</th>
                    <th scope="col" width="20%">내용</th>
                    <th scope="col" width="5%">수정</th>
                    <th scope="col" width="5%">삭제</th>
                </tr>
                {% for i in posts %}
                <tr>
                    <td>
                        <div class="g_square border">
                            {% if i.images %}
                            <img src="{{i.images.url}}" alt="" />
                            {% else %}
                            <img src="{% static 'img/no_img.png' %}" alt="" />
                            {% endif %}
                        </div>
                    </td>
                    <td><a href="{% url 'community:post_detail' id=i.id %}">{{i.title}}</a></td>
                    <td>{{i.content|truncatechars:20}}</td>
                    <td><a href="{% url 'community:edit_post' id=i.id %}" class="btn btn-sm btn-warning">수정</a></td>
                    <td><a href="{% url 'community:delete_post' id=i.id %}" class="btn btn-sm btn-danger">삭제</a></td>
                </tr>
                {% endfor %}
            </table>
            <!--  -->

            <!--  -->
            {% else %}
            <!--  -->
            <div class="text-center text-secondary">글이 없습니다</div>
            {% endif %}
        </div>
        <hr />
        <div class="pt-3 pb-3">
            <h5 class="text-secondary">내가 쓴 댓글</h5>
            <!--  -->
            {% if comments %}
            <!--  -->
            <table class="table">
                <tr>
                    <th scope="col" width="30%">게시글제목</th>
                    <th scope="col" width="50%">댓글</th>
                    <th scope="col" width="20%">글삭제</th>
                </tr>
                {% for i in comments %}
                <tr>
                    <td width="30%">
                        <a href="{% url 'community:post_detail' id=i.post_id %}">{{i.post.title}}</a>
                    </td>
                    <td width="50%">
                        <a
                            href="/community/post_detail/{{i.post_id}}/#comment-{{i.id}}">{{i.content|truncatechars:10}}</a>
                    </td>
                    <td width="20%"><a href="{% url 'community:delete_post' id=i.id %}"
                            class="btn btn-sm btn-danger">삭제</a></td>
                </tr>
                <!--  -->
                {% endfor %}
            </table>

            <!--  -->
            {% else %}
            <!--  -->
            <div class="text-center text-secondary">댓글이 없습니다</div>
            {% endif %}
        </div>
        <hr />
        <div class="pt-3 pb-3">
            <h5 class="text-secondary">내가 쓴 리뷰</h5>
            <!--  -->
            {% if reviews %}
            <!--  -->
            <table class="table">
                <tr>
                    <th scope="col" width="10%">상품</th>
                    <th scope="col" width="10%">리뷰이미지</th>
                    <th scope="col" width="20%">글내용</th>
                    <th scope="col" width="5%">수정</th>
                    <th scope="col" width="5%">삭제</th>
                </tr>
                {% for i in reviews %}
                <tr>
                    <td width="10%">{{i.shoe.name}}</td>
                    <td width="10%">
                        {% if i.mallreviewimage_set.all %}
                        <!--  -->
                        {% for x in i.mallreviewimage_set.all|slice:1 %}
                        <div class="col l_img border" style="width: 100px; height: 100px; overflow: hidden">
                            <img class="img" src="{{x.images.url}}" style="width: 100%" alt="" />
                        </div>
                        <!-- 이미지가 없으면 -->
                        {% empty %}
                        <div class="col l_img border" style="width: 100px; height: 100px; overflow: hidden">
                            <img class="img" src="{% static 'img/no_img.png' %}" style="width: 100%" alt="" />
                        </div>
                        {% endfor %}
                        <!-- 이미지가 없으면 -->
                        {% else %}
                        <!--  -->
                        <div class="col l_img border" style="width: 100px; height: 100px; overflow: hidden">
                            <img class="img" src="{% static 'img/no_img.png' %}" style="width: 100%" alt="" />
                        </div>
                        {% endif %}
                    </td>
                    <td width="20%">
                        <a href="{% url 'mall_review_detail' review_id=i.id%}">
                            <span class="fw-bold">{{i.title}}</span>
                            <br />
                            {{i.content|truncatechars:10}}</a>
                    </td>
                    <td width="5%"><a href="{% url 'mall_review' shoe_id=i.shoe_id %}"
                            class="btn btn-sm btn-warning">수정</a></td>
                    <td width="5%"><a href="{% url 'mall_review_delete' id=i.id %}" class="btn btn-sm btn-danger">삭제</a>
                    </td>
                </tr>
                {% endfor %}
                <!--  -->
                {% else %}
                <tr colspan="3">
                    <div class="text-center text-secondary">리뷰가 없습니다</div>
                </tr>
                {% endif %}
            </table>
        </div>
    </section>
</section>
{% endblock %}