<!-- 주문리스트 -->
{% extends 'base/base.html' %}
<!--  -->
{% load static %}

{% load humanize %}
<!--  -->
{% block content %}
<section class="myPage-content container-xl">
    {% include 'base/mypage_navi.html' %}
    <section class="myPage-main">
        <h1 class="myPage-title fw-bold">내 주문정보</h1>
        <div id="order_list_row">
            {% if items %}
            <table class="table">
                <thead>
                    <tr>
                        <td class="text-center align-middle">주문 Id</td>
                        <td class="text-center align-middle">사진</td>
                        <td class="text-center align-middle">제품이름</td>
                        <td class="text-center align-middle">가격</td>
                        <td class="text-center align-middle">상세정보(사이즈)</td>
                        <td class="text-center align-middle">개수</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td class="text-center align-middle">{{ item.order.id }}</td>
                        <td class="text-center align-middle">
                            <div class="g_square border">
                                {% if item.shoe.images %}
                                <img src="{{ item.shoe.images.url }}" alt="">
                                {% else %}
                                <img src="{% static 'img/no_img.png' %}" alt="">
                                {% endif %}
                            </div>
                        </td>
                        <td class="text-center align-middle">{{ item.order.name }}</td>
                        <td class="text-center align-middle">{{ item.price|intcomma }}원 </td>
                        <td class="text-center align-middle"> {{ item.size }} </td>
                        <td class="text-center align-middle">{{ item.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <!-- 주문내역 없을때 -->
            주문내역이 없습니다
            {% endif %}
        </div>
    </section>
</section>
{% endblock %}