<!-- 주문리스트 -->
{% extends 'base/base.html' %}
<!--  -->
{% load static %} {% load humanize %}
<!--  -->
{% block content %}
<section class="myPage-content container-xl">
    {% include 'base/mypage_navi.html' %}
    <section class="myPage-main">
        <h1 class="myPage-title fw-bold">내 주문정보</h1>
        <div id="order_list_row">
            {% if items %}
            <table class="table">
                <thead>
                    <tr>
                        <td class="text-center fw-bold align-middle">주문id</td>
                        <td class="text-center fw-bold align-middle">총가격</td>
                        <td class="text-center fw-bold align-middle">상세정보</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{item.id}}</td>

                        <td class="text-center align-middle">{{ item.total_price|intcomma }}</td>
                        <td class="text-center align-middle">
                            <table class="table">
                                <tr>
                                    <td class="fw-bold">사진</td>
                                    <td class="fw-bold">상품이름</td>
                                    <td class="fw-bold">가격</td>
                                    <td class="fw-bold">사이즈</td>
                                    <td class="fw-bold">개수</td>
                                </tr>

                                {% for i in item.orderitem_set.all %}
                                <tr>
                                    <td class="text-center align-middle">
                                        <div class="g_square border">
                                            {% if i.images %}
                                            <img src="{{ i.images.url }}" alt="" />
                                            {% else %}
                                            <img src="{% static 'img/no_img.png' %}" alt="" />
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>{{i.shoe.name}}</td>
                                    <td>{{i.price|intcomma}}</td>
                                    <td>{{i.size}}</td>
                                    <td>{{i.quantity}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <!-- 주문내역 없을때 -->
            주문내역이 없습니다 {% endif %}
        </div>
    </section>
</section>
{% endblock %}
