<!-- base.html 기본 틀 사용 -->
{% extends 'base/base.html' %} {% load static %}
<!-- humanize -->
{% load humanize %}
<!-- content 안에 아래 내용 쑤셔 넣을 예정 -->
{% block content %}
<link rel="stylesheet" href="{% static 'css/mypage/heart.css' %}" />

<section class="myPage-content container-xl">
    {% include 'base/mypage_navi.html' %}
    <section class="myPage-main">
        <h1 class="myPage-title fw-bold">내 위시리스트</h1>
        <div class="col">
            {% if wishes %}
            <!--  -->
            <table class="table">
                <tr>
                    <td>사진</td>
                    <td>상품이름</td>
                    <td>가격</td>
                    <td>찜</td>
                </tr>
                {% for wish in wishes %}
                <tr>
                    <td>
                        {% if wish.shoe.images %}
                        <a href="/product_detail/{{ wish.shoe.id }}/">
                            <img
                                src="{{ wish.shoe.images|default:wish.shoe.images.url }}"
                                alt=""
                                style="width: 80px; height: 80px"
                            />
                        </a>
                        {% else %}
                        <img src="{% static 'img/no_img.png' %}" style="width: 80px; height: 80px" alt="이미지없음" />
                        {% endif %}
                    </td>
                    <td><a href="/product_detail/{{ wish.shoe.id }}/">{{ wish.shoe.name }}</a></td>
                    <td>{{ wish.shoe.price|intcomma }}원</td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <a
                                class="btn btn-danger btn-sm"
                                href="{% url 'mall_wishlist_remove' shoe_id=wish.shoe.id %}"
                                >찜 해제</a
                            >
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <!--  -->
            {% else %}
            <!--  -->
            내 위시리스트가 없습니다.
            <!--  -->
            {% endif %}
        </div>
    </section>
</section>
{% endblock %}
