<!-- base.html 기본 틀 사용 -->
{% extends 'base/base.html' %}
<!-- content 안에 아래 내용 쑤셔 넣을 예정 -->
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mypage/heart.css' %}">
<div class="row" id="wish-list">
    <div class="col-8">
        {% for wish in wishes %}
        <div>
            <span><a href="/product_detail/{{ wish.shoe.id }}/">{{ wish.shoe.images }}</a></span>
            <span><a href="/product_detail/{{ wish.shoe.id }}/">{{ wish.shoe.name }}</a></span>
            {{ wish.shoe.price }}
            <form method="POST">
            {% csrf_token %}
            <a href="/mypage/{{ user.id }}/delete/">찜 해제</a>
            </form>
        </div>
        {% endfor %}
    </div>
    <!-- cart 사이트로 이동하는 버튼 -->
    <div class="col-4">
        <button onClick="location.href=''">CART</button>
    </div>
</div>
<script>
// 체크한 상품 총 가격 계산하기 ( jquery code )
let totalCost = 0;

$(function () {
    $("#total").text(totalCost);
});
// 체크박스
$("input[name='check[]']").change(function () {
    calculator();
});
// 계산해줌
function calculator() {
    totalCost = 0;
    $("#total").text(totalCost);
    $("#wish-list input:checked").each(function () {
        totalCost +=
            parseInt($(this).attr("data-price")) *
            parseInt($(this).attr("data-quantity"));

        $("#total").text(totalCost);
    });
}
</script>
{% endblock %}