{% extends 'base/base.html' %}
{% load static %}
{% block head_name %}이런신발 - 커뮤니티{% endblock %}
{% block content %}
<style>
    .post-thumbnail {
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
</style>
<!-- 상단 헤더 (Bootstrap navbar 컴포넌트) -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand mx-auto">글쓰기</span>
    </div>
</nav>

<div class="container mt-4">
    <!-- 글쓰기(폼 적용 예정) -->
    <div class="write-form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- 글 종류 드롭다운 -->
            <div class="mb-3">
                <label class="form-label">게시판 선택</label>
                <select class="form-select" name="category">
                    <option value="1">자유 게시판</option>
                    <option value="2">요청 게시판</option>
                    <option value="3">신발 리뷰 게시판</option>
                    <option value="4">마라톤 후기</option>
                </select>
            </div>


            <!-- 제목 -->
            <div class="mb-3">
                <label class="form-label">제목</label>
                <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요">
            </div>

            <!-- 내용 -->
            <div class="mb-3">
                <label class="form-label">내용</label>
                <textarea class="form-control" rows="14" name="content" placeholder="내용을 입력하세요"></textarea>
            </div>

            <!-- 이미지 업로드 -->
            <div class="mb-3">
                <label class="form-label">이미지 첨부</label>
                <input type="file" name="images" accept=".jpg, .png" multiple>
                <small>JPG, PNG 파일을 업로드</small>
            </div>

            <!-- 작성, 임시저장 버튼 -->
            <div class="text-center">
                <button type="button" class="btn btn-secondary me-2">취소</button>
                <!-- <button type="button" class="btn btn-outline-primary me-2">임시저장</button> -->
                <button type="submit" class="btn btn-primary">게시하기</button>
            </div>
        </form>
    </div>

    <!-- 게시글 작성 가이드 -->
    <div class="my-3 p-3 border">
        <h5>게시글 작성 가이드</h5>
        <ul class>
            <li>욕설, 비방, 광고성 내용은 삭제될 수 있습니다</li>
            <li>신발 리뷰 시 구체적으로 작성해 주세요(ex: 가격, 착화감, 쿠션감 등)</li>
            <li>질문글은 구체적으로 작성해주시면 더 좋은 답변을 받을 수 있습니다</li>
            <li>이미지는 5MB 이하로 업로드해주세요</li>
        </ul>
    </div>
</div>
{% endblock %}