@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
ul,
li {
    list-style-type: none;
    list-style: none;
}

/* 카테고리별 상세페이지 : /mall/product/1/ */
.l_product {
    background-color: #f8f8f8;
}
.l_product_option {
    background-color: white;
}
.l_brand {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.l_brand_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    img {
        width: 100%;
        height: 100%;
        display: block;
    }
}
/* 탭 style */

.l_pr {
    width: 100%;
    max-width: 550px;
    .l_pr_sumnail img {
        width: 100%;
    }
}
.content {
    display: none;
    min-height: 800px;
}
.product_detail img {
    width: 100%;
}
.content .cards li {
    max-width: 47%;
}
.btn.active {
    background-color: rgb(37, 37, 37);
    color: #eee;
    box-shadow: none;
}

.content.active {
    display: block;
}

.l_product_option {
    top: 50px;
}

/* 썸네일 css */
.l_pr_sumbnail {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding-left: 120px;
}
.img-selection {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
}

.img-thumbnail:first-of-type {
    margin-top: 0;
}

.img-thumbnail {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 0.5;
}

.img-thumbnail:hover {
    opacity: 1;
}

.img-thumbnail.selected {
    opacity: 1;
}

.big-img {
    position: relative;
    border: 1px solid #ddd;
    width: 100%;
    cursor: zoom-in;
    overflow: hidden;
}
.big-img::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.big-img img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.big-img img.zoom {
    position: absolute;
    transition: width 0.2s ease-out, opacity 0.2s ease-out 0.2s;
}

.display-img {
    width: 100%;
}
