{% extends 'base/base.html' %}
{% load static %}
{% block head_name %}이런신발 - 로그인{% endblock %}
{% block content %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    .mt-5 {
        margin-top: 3rem;
    }

    .line {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        color: rgba(0, 0, 0, 0.35);
        font-size: 14px;
        margin: -30px 0px;
        font-weight: bold;
    }

    .line::before {
        content: "";
        flex-grow: 1;
        margin: 0px 425px;
        background: rgba(0, 0, 0, 0.35);
        height: 1px;
        font-size: 0px;
        line-height: 2px;
        margin-right: 35px;
    }

    .line::after {
        content: "";
        flex-grow: 1;
        margin: 0px 425px;
        background: rgba(0, 0, 0, 0.35);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin-left: 35px;
    }

    .text:focus {
        outline: none;
    }

    .form-control {
        border: 0;
    }
</style>
<div class="container mt-5">
    <div class="row">
        <div class="text-center" style="font-size: xx-large;">로그인</div>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mt-5 d-flex flex-column align-items-center">
                <div class="card" style="width:400px; background-color:rgb(255, 255, 255); border-radius: 500px;">
                    <div class="card-body">
                        {{ form.email }}
                    </div>
                </div>
            </div>

            <div class="mt-3 d-flex flex-column align-items-center">
                <div class="card" style="width:400px; background-color:rgb(255, 255, 255); border-radius: 500px;">
                    <div class="card-body">
                        {{ form.password }}
                    </div>
                </div>
                <button class="btn btn-primary btn-signup btn-lg btn-block mt-3" type="submit">로그인</button>
            </div>
        </form>

        <div class="line mt-3">또는</div>

        <div class="mt-5 d-flex flex-column  align-items-center">
            <div class="card" style="width:450px; background-color:rgb(165, 165, 165)">
                <div class="card-body text-center">
                    <button type="submit" class="btn btn-login">
                        <span style="color: #fafbfc; font-weight:normal;">이메일로 로그인</span>
                    </button>
                </div>
            </div>
            <br>
            <div class="card" style="width:450px; background-color:rgb(46, 230, 101)">
                <div class="card-body text-center">
                    <button type="submit" class="btn btn-login">
                        <span style="color: #fafbfc; font-weight:normal;">네이버로 로그인</span>
                    </button>
                </div>
            </div>
            <br>
            <div class="card" style="width:450px; background-color:rgb(39, 39, 41)">
                <div class="card-body text-center">
                    <button type="submit" class="btn btn-login">
                        <span style="color: #fafbfc; font-weight:normal;">구글로 로그인</span>
                    </button>
                </div>
            </div>
            <br>
            <div class="card" style="width:450px; background-color:rgb(136, 136, 243)">
                <div class="card-body text-center">
                    <button type="submit" class="btn btn-login">
                        <span style="color: #fafbfc; font-weight:normal;">페이스북으로 로그인</span>
                    </button>
                </div>
            </div>
            <div class="mt-4">
                <span style="font-size:small;">이런신발이 처음이신가요?</span>
                <a href="{% url 'signup' %}" style="color: #585959;"><span
                        style="font-size:small; font-weight:bold;">회원가입하기</span></button></a>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
{% endblock %}