<!--  -->
{% extends 'base/base.html' %} {% load static %}
<!--  -->
{% block content %}
<link rel="stylesheet" href="{% static 'css/mypage/style.css' %}" />

<!-- 개인정보 -->
<section class="myPage-content container-xl">
    {% include 'base/mypage_navi.html' %}

    <section class="myPage-main">
        <h1 class="myPage-title fw-bold">내 정보</h1>
        <!-- <span class="myPage-subject" style="font-size: medium; font-weight: 400">원하는 회원 정보를 수정할 수 있습니다</span> -->
        <div class="input-form-backgroud row">
            <table class="table">
                <tr>
                    <td class="l_title">이름</td>
                    <td class="l_content">{{ user.username }}</td>
                </tr>
                <tr>
                    <td class="l_title">닉네임</td>
                    <td class="l_content">{{ user.nickname }}</td>
                </tr>
                <tr>
                    <td class="l_title">이메일</td>
                    <td class="l_content">{{ user.email }}</td>
                </tr>
                <tr>
                    <td class="l_title">주소</td>
                    <td class="l_content">{{ user.address }}</td>
                </tr>
                <tr>
                    <td class="l_title">발볼 크기</td>
                    <td class="l_content">{{ userbio.ball_foot }}</td>
                </tr>
                <tr>
                    <td class="l_title">사이즈</td>
                    <td class="l_content">{{ userbio.shoe_size }}</td>
                </tr>
                <tr>
                    <td class="l_title">성별</td>
                    <td class="l_content">{{ user.gender }}</td>
                </tr>
                <tr>
                    <td class="l_title">브랜드</td>
                    <td class="l_content">{{ userbio.favorite_brand}}</td>
                </tr>
            </table>
        </div>
    </section>
</section>
<style>
    td.l_title {
        width: 200px;
        color: rgb(121, 117, 235);
        font-size: large;
        font-weight: bold;
    }

    .l_content {
        font-size: large;
        margin-left: 180px;
        font-weight: 600;
    }
</style>
{% endblock %}
